extends layout

block content
    div.container
        div.row
            h3 User info
            table.table
                thead
                  tr
                    th User ID
                    th Email
                    th Access Token
                tbody
                      tr
                        td #{user.ozId}
                        td #{user.email}
                        td #{user.accessToken}
